@tailwind base;
@tailwind components;
@tailwind utilities;



/* Importing the font */
@font-face {
  font-family: 'HandelGo';
  src: url('/fonts/HandelGo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




body {
  background: #1E1E1E;

}

